body
{
    display:flex;
    flex-direction: column;
    background: black;
}

.visualizer-box {
    display: flex;              
    align-items: flex-end;     
    height: 200px;              
    border: 1px solid #ccc;
    padding: 10px;
    overflow-x: auto;           
  }
  
  .bar {
    width: 10px;
    margin: 1px;
    background-color: steelblue;
    transition: height 0.3s;
  }

.controllers
{
    display:flex;
    flex-direction: column;
    margin:20px 200px;
    gap:10px;
}

a
{
    text-decoration: none;
}